.modal-other {
    background: url('../assets/img/popup-bg.svg') no-repeat;
    background-size: cover;

    &:before{
      content: '';
      background: $primary;
      width: 100px;
      height: 100px;
    }
}
